<h1>Create a new Todo</h1>

<% if @todo.errors.any? %>
  <h2>The following errors prevented todo from being saved:</h2>
  <ul>
    <% @todo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<% print 'MKR:', @todo, ' ', @todo.errors.any? %>
Todo: <%= @todo %><br>
Errors?: <%= @todo.errors.any? %><br>
Name: <%= @todo.name %><br>
Description: <%= @todo.description %><br>
ID: <%= @todo.id %><br>

<%= form_with model: @todo, local: true do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>